.post-story {
  position: relative;
  top: 90px;
  height: 100vh;
  display: flex;
  border: 1px solid #dbdbdb;
  background: #fff;
}

.post-story .upload-image {
  width: 100%;
  height: 600px;
  max-width: 35%;
  border-right: 1px solid #dbdbdb;
}

/* of ant design */
.image-uploader > .ant-upload {
  width: 100%;
  height: 100%;
  background: #fff;
  border: none;
}

.ant-upload-picture-card-wrapper {
  height: 100%;
}

/* /// */

.form-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  position: relative;
}

.form-upload .form-input {
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: 1080;
  cursor: pointer;
}

.form-upload .upload-text {
  position: absolute;
}

.upload-image {
  position: relative;
}

.upload-image .image-preview {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.post-story .state-detail {
  max-width: 65%;
  width: 100%;
  padding: 40px;
}

.post-story .state-detail .top-content .title {
  font-size: 2rem;
  font-weight: 300;
}

.post-story .state-detail .center-content input {
  margin-bottom: 10px;
}

.progress-jz .ant-progress-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1080;
  height: 6px;
}

@media only screen and (max-width: 768px) {
  .post-story {
    display: block;
    border: none;
  }

  .post-story .upload-image,
  .post-story .state-detail {
    height: 100%;
    max-width: 100%;
  }
}
