.action-comment {
  width: 100%;
  height: 100%;
}

.action-comment .post-comment-form {
  display: flex;
  border-top: 1px solid #dbdbdb;
  position: relative;
}

.action-comment .post-comment-form .btn-comment {
  border: none;
  background: #fff;
  font-size: 1rem;
  color: #1890ff;
  font-weight: 600;
  outline: none;
  box-shadow: none;
}

.action-comment .post-comment-form input {
  border: none;
  box-shadow: none;
  outline: none;
}

.action-comment .post-comment-form .tag {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}
