.story-item {
  position: relative;
  top: 30px;
  width: 100%;
  margin: auto;
  border: 1px solid #dbdbdb;
  background: #fff;
  margin-bottom: 40px;
}

.story-item .top-jezzs,
.story-item .center-jezzs,
.story-item .bottom-jezzs {
  width: 100%;
}

.story-item .center-jezzs .image {
  max-width: 800px;
}

.story-item .center-jezzs img {
  width: 100%;
}

.story-item .top-jezzs {
  margin-bottom: 10px;
  margin-top: 5px;
}

.story-item .top-jezzs .action-story {
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.story-item .top-jezzs .action-story .icon {
  font-size: 1.5rem;
}

.story-item .deep-sentence {
  margin-left: 10px;
  margin-bottom: 10px;
}

.story-item .action .story-icon {
  font-size: 1.6rem;
  padding: 10px 10px;
  cursor: pointer;
}

.story-item .deep-sentence .name {
  display: inline-block;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  font-size: 1rem;
}

.story-item .deep-sentence .state {
  display: inline-block;
  margin: 0;
}

.story-item .top-jezzs .name-user-of-article {
  display: inline-block;
  margin: 0 10px;
}
