.story-detail-jz {
  display: flex;
  width: 100%;
  position: relative;
  top: 90px;
  border: 1px solid #dbdbdb;
  min-height: 400px;
  max-height: 450px;
}

.story-detail-jz .image-story-jz {
  max-width: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-detail-jz .image-story-jz img {
  height: 100%;
}

.story-detail-jz .right-content-jz {
  width: 100%;
  max-width: 40%;
  background: #fff;
  position: relative;
  border-left: 1px solid #dbdbdb;
}

.story-detail-jz .right-content-jz .user-info-jz {
  display: flex;
  border-bottom: 1px solid #dbdbdb;
  padding: 20px;
}

.story-detail-jz .right-content-jz .user-info-jz .action-story-jz {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  width: 100%;
}

.story-detail-jz .right-content-jz .user-info-jz .name-user-of-story {
  font-size: 1rem;
  margin: 0;
  margin-left: 10px;
}

.story-detail-jz .right-content-jz .user-info-jz .action-story-jz .icon {
  font-size: 1.5rem;
}

.story-detail-jz .right-content-jz .comment-jz {
  padding: 0 20px;
}

.status {
  padding-left: 10px;
}

.status .name,
.status .state {
  display: inline-block;
}

.status .state {
  margin-left: 10px;
}

.comments-article .comments {
  overflow-y: scroll;
  max-height: 280px;
  height: 100%;
}

.comments-article .comments::-webkit-scrollbar {
  width: 0.1rem;
  height: 0.1rem;
}

.comments-article .comments::-webkit-scrollbar-thumb {
  background-color: rgba(36, 36, 36, 0.527);
  border-radius: 3px;
}

.comments-article .post-comment-form {
  position: absolute;
  width: 100%;
  bottom: 0;
}

@media only screen and (max-width: 992px) {
  .story-detail-jz {
    flex-direction: column;
  }

  .story-detail-jz .image-story-jz {
    max-width: 100%;
  }

  .story-detail-jz .right-content-jz {
    max-width: 100%;
  }
  .story-detail-jz .right-content-jz .user-info-jz .action-story-jz {
    width: 80%;
  }
  .post-comment-form {
    top: 0px;
  }
}
